doctype html
html(lang='en')
	head
	title File Metadata API
	body
		h1 Submit a file to view its attributes or reverse image search
		p filesize is limited to 1MB
		p number of files limited to 1

		form(action='/pictures/upload', method='post', enctype='multipart/form-data')
			input(type="file", name="displayImage")
			input(type="submit", value="obtain metadata")